.header{
	background-size: cover;
	background: url("../images/header-background.png");
	height: 991px;

}

.who-we-are {
  background-size: cover;
  background: #FFFFFF;
  height: 300px;
  border-bottom: 1px solid rgb(153, 153, 153); }

.about-us {
  background-size: cover;
  background: #FFFFFF;
  height: 600px;
  border-bottom: 1px solid rgb(153, 153, 153);}

.services {
  background-size: cover;
  height: 600px;
  border-bottom: 1px solid rgb(153, 153, 153); }

  .services-first-col{
    background: rgb(32, 32, 32);
    height: 600px;
  }

  .services-second-col img{
    max-width: 100%;
    height: 600px;
  }

.portfolio {
  background-size: cover;
  background: #FFFFFF;
  height: 900px;
  border-bottom: 1px solid rgb(153, 153, 153); }

.portfolio-img {
  max-width: 100%;}

  .portfolio h5{
    font-size: 36px;
    font-family: "SourceSansPro";
    color: rgb(106, 106, 106);
    font-weight: bold;
    text-transform: uppercase;
  }

  .portfolio p{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
  }

  .portfolio li{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
    font-weight: bold;
  }

  .portfolio-card, .case-study-card{
    padding-top: 60px;
  }

.case-study {
  background-size: cover;
  background: #f4f5f9;
  height: 800px; }

  .case-study-card h5{
    font-size: 36px;
    font-family: "SourceSansPro";
    color: rgb(106, 106, 106);
    font-weight: bold;
  }

  .case-study-card p{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
  }

  .case-study-text-container{
    background: #FFFF;
    height: 400px;
    position: relative;
    top: 50px;
    left: 70px;
  }

  .case-study-media-body{
    padding: 60px;
  }

  .case-study-img-container img{
    max-width: 100%;
    height: 500px;
  }

  .case-study-media-body h5{
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb(106, 106, 106);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
  }

  .case-study-media-body p{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
    text-align: center;
    padding: 15px;
  }

  .case-study-btn{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(231, 76, 60);
  }

  .case-study-icon img{
    padding: 15px;
    background-color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);
  }

  .case-study-icon{
    padding-left: 180px;
    padding-bottom: 30px; 
  }

  .case-study-btn-div{
    padding-left: 150px;
  }

  .header-nav a{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(244, 245, 249);
    font-weight: bold;
  }

  .header-nav{
    padding-top: 10px;
  }

.check-out-stats {
  background-size: cover;
  background: url("../images/check-out-stats-img.png");
  height: 500px; }

.pricing {
  background-size: cover;
  background: #FFFFFF;
  height: 900px; }

.team {
  background-size: cover;
  background: url("../images/team-img.png");
  height: 700px; }

.our-clients {
  background-size: cover;
  background: #FFFFFF;
  height: 500px; }

.our-blog {
  background-size: cover;
  background: #FFFFFF;
  height: 900px; }

.contact {
  background-size: cover;
  background: #FFFFFF;
  height: 900px; }

.promo {
  background-size: cover;
  background: url("../images/promo-img.png");
  height: 450px; }

.footer {
  background-size: cover;
  background: #FFFFFF;
  height: 50px; }

  .who-we-are-card-img{
    width: 30%;
    border: 1px solid grey;
    padding: 30px;
  }

  .who-we-are-card h5{
    font-family: "OpenSans";
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: rgb(106, 106, 106);
  }

  .who-we-are-card p{
    font-size: 12px;
    font-family: "SourceSansPro";
    color: rgb(153, 153, 153);
    text-align: center;
  }

  .about-us-img{
    width: 400px;
    padding-right: 20px;
  }

  .about-us-row{
    padding-top: 150px;
  }

  .about-us h5{
    font-size: 36px;
    font-family: "SourceSansPro";
    color: rgb(106, 106, 106);
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
  }

  .about-us p{
    font-size: 14px;
    font-family: "SourceSansPro";
    color: rgb(153, 153, 153);
  }

  .about-us-btn{
    border-radius: 3px;
    background-color: rgb(231, 76, 60);
    font-size: 12px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
  }

  .about-us-media-body{
    padding-left: 30px;
  }

  .portfolio-card, .case-study-card, .pricing-card, .team-card, .our-clients-card, .our-blog-card, .contact-card, .promo-card{
    text-align: center;
  }

  .our-clients-logo{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    padding: 20px;
  }

  .promo-card, .header-card{
    background: none;
    border: none;
    color: #FFFF;
    padding-top: 100px;
  }

  .contact-card-body{
    text-align: left;
  }

  .contact-row{
    background: #e6e6e6;
    height: 500px;
  }

  .contact-card-body{
    padding: 100px;
  }

  .contact-card, .form-control, .our-blog-card, .our-clients-card, .team-card, .pricing-card, .check-out-stats-card, .case-study-card, .portfolio-card{
    background: none;
    border: none;
  }

  .team-card{
    padding-top: 100px;
    color: #FFFF;
  }

  .check-out-stats-card{
    padding-top: 150px;
    padding-left: 100px;
    width: 220px;
    color: #FFFF;
  }

  .check-out-stats-card img{
    width: 100px;
    height: 100px;
  }

  .portfolio-list-group{
    justify-content: center;
  }

  .portfolio-list-group li{
    border: none;
  }

  .who-we-are-card, .who-we-are-card-img{
    border: none;
  }

  .main-header-card{
    background: none;
    border: none;
  }

  .header-card-body{
    padding-top: 300px;
  }

  .header-card-body h5{
    font-size: 24px;
    font-family: "SourceSansPro";
    color: rgb(244, 245, 249);
  }

    .header-card-body h1{
      font-size: 72px;
      font-family: "OpenSans";
      color: rgb(244, 245, 249);
      font-weight: bold;
  }

  .header-card-body p{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(203, 198, 192);
  }

  .header-btn{
    font-size: 12px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: rgb(231, 76, 60);
  }

  .header-down-icon{
    position: relative;
    bottom: 30px;
    left: 520px;
  }

  .pricing-card-body{
    padding-top: 100px;
  }

  .pricing-card-body h5{
    font-size: 36px;
    font-family: "SourceSansPro";
    color: rgb(106, 106, 106);
    font-weight: bold;
    text-transform: uppercase;
  }

  .pricing-card-body p{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
  }

  .pricing-card-col{
    border: none;
  }

  .pricing-card-col p{
    font-size: 14px;
    font-family: "OpenSans";
    color: rgb(153, 153, 153);
    text-align: center;
  }