.Check_Out_Stats {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 267;
}
._5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 266;
}
.Content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 265;
}
._285_Amazing_Features {
  font-size: 30px;
  font-family: "SourceSansPro";
  color: rgb(244, 245, 249);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 1396.937px;
  top: 5752.823px;
  z-index: 264;
}
.Icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 262;
}
.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 261;
}
.Ellipse_1 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 1417px;
  top: 5568px;
  width: 109px;
  height: 109px;
  z-index: 260;
}
.Forma_1 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1462px;
  top: 5610px;
  width: 22px;
  height: 28px;
  z-index: 258;
}
._4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 255;
}
.Content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 254;
}
._178_Campaigns {
  font-size: 30px;
  font-family: "SourceSansPro";
  color: rgb(244, 245, 249);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 1169.844px;
  top: 5752.828px;
  z-index: 253;
}
.Icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 251;
}
.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 250;
}
.Ellipse_1 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 1159px;
  top: 5568px;
  width: 109px;
  height: 109px;
  z-index: 249;
}
. {
  background-image: url(".png");
  position: absolute;
  left: 1199px;
  top: 5609px;
  width: 31px;
  height: 29px;
  z-index: 247;
}
._3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 244;
}
.Content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 243;
}
._618_Total_Posts {
  font-size: 30px;
  font-family: "SourceSansPro";
  color: rgb(244, 245, 249);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 910.517px;
  top: 5754.828px;
  z-index: 242;
}
.Icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 240;
}
. {
  background-image: url(".png");
  position: absolute;
  left: 941px;
  top: 5608px;
  width: 31px;
  height: 31px;
  z-index: 239;
}
.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 238;
}
.Ellipse_1 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 901px;
  top: 5570px;
  width: 109px;
  height: 109px;
  z-index: 237;
}
._2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 233;
}
.Content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 232;
}
._281K_Posts_Last_24_Hours {
  font-size: 30px;
  font-family: "SourceSansPro";
  color: rgb(244, 245, 249);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 616.844px;
  top: 5755.828px;
  z-index: 231;
}
.Icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 229;
}
. {
  background-image: url(".png");
  position: absolute;
  left: 685px;
  top: 5611px;
  width: 29px;
  height: 29px;
  z-index: 228;
}
.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 227;
}
.Ellipse_1 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 644px;
  top: 5570px;
  width: 109px;
  height: 109px;
  z-index: 226;
}
._1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 222;
}
.Content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 221;
}
._3891_User_Favourites {
  font-size: 30px;
  font-family: "SourceSansPro";
  color: rgb(244, 245, 249);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  position: absolute;
  left: 376.844px;
  top: 5754.828px;
  z-index: 220;
}
.Icon {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 218;
}
. {
  background-image: url(".png");
  position: absolute;
  left: 426px;
  top: 5613px;
  width: 31px;
  height: 26px;
  z-index: 217;
}
.bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 216;
}
.Ellipse_1 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 386px;
  top: 5570px;
  width: 109px;
  height: 109px;
  z-index: 215;
}
.background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 211;
}
.Background {
  background-color: rgb(0, 0, 0);
  opacity: 0.502;
  position: absolute;
  left: 0px;
  top: 5413px;
  width: 1920px;
  height: 511px;
  z-index: 210;
}
