.Team {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 386;
}
._5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 385;
}
.Ellipse_1_copy_7 {
  border-radius: 50%;
  background-color: rgb(11, 12, 11);
  position: absolute;
  left: 1491px;
  top: 7385px;
  width: 51px;
  height: 50px;
  z-index: 383;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 1488px;
  top: 7382px;
  width: 57px;
  height: 56px;
  z-index: 382;
}
._4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 380;
}
.Ellipse_1_copy_6 {
  border-radius: 50%;
  background-color: rgb(11, 12, 11);
  position: absolute;
  left: 1213px;
  top: 7431px;
  width: 51px;
  height: 50px;
  z-index: 378;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 1210px;
  top: 7428px;
  width: 57px;
  height: 56px;
  z-index: 377;
}
._3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 375;
}
.Ellipse_1_copy_5 {
  border-radius: 50%;
  background-color: rgb(11, 12, 11);
  position: absolute;
  left: 935px;
  top: 7392px;
  width: 51px;
  height: 50px;
  z-index: 373;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 932px;
  top: 7389px;
  width: 57px;
  height: 56px;
  z-index: 372;
}
._2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 370;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(244, 245, 249);
  position: absolute;
  left: 658px;
  top: 7386px;
  width: 78px;
  height: 76px;
  z-index: 367;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(231, 76, 60);
  box-shadow: 0px 5px 12.75px 2.25px rgba(0, 0, 0, 0.004);
  position: absolute;
  left: 653px;
  top: 7381px;
  width: 88px;
  height: 86px;
  z-index: 366;
}
.Text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 365;
}
.UI_UX_Designer {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: rgb(255, 255, 255);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 640.937px;
  top: 7603.247px;
  z-index: 364;
}
.Kazi_Erfan {
  font-size: 24px;
  font-family: "OpenSans";
  color: rgb(231, 76, 60);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 1,0,0,1.00020895730306,0,0);
  -webkit-transform: matrix( 1,0,0,1.00020895730306,0,0);
  -ms-transform: matrix( 1,0,0,1.00020895730306,0,0);
  position: absolute;
  left: 639.467px;
  top: 7542.603px;
  z-index: 363;
}
.Line {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  opacity: 0.749;
  position: absolute;
  left: 696px;
  top: 7410px;
  width: 0;
  height: 105px;
  z-index: 361;
}
._1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 359;
}
.Ellipse_1_copy_3 {
  border-radius: 50%;
  background-color: rgb(11, 12, 11);
  position: absolute;
  left: 379px;
  top: 7446px;
  width: 51px;
  height: 50px;
  z-index: 357;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 376px;
  top: 7443px;
  width: 57px;
  height: 56px;
  z-index: 356;
}
.Text_copy_3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 354;
}
.OUR_TEAM {
  font-size: 36px;
  font-family: "SourceSansPro";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 864.937px;
  top: 7141.4px;
  z-index: 353;
}
.Meet_the_craziest_team__Share_your_thoughts_wit {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(244, 245, 249);
  line-height: 2.071;
  text-align: center;
  position: absolute;
  left: 351.344px;
  top: 7231.25px;
  width: 373px;
  height: 14px;
  z-index: 352;
}
.Design_copy_4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 350;
}
.Shape_171_copy {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  position: absolute;
  left: 977px;
  top: 7249px;
  width: 78px;
  height: 0px;
  z-index: 349;
}
.Shape_171 {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  position: absolute;
  left: 862px;
  top: 7249px;
  width: 78px;
  height: 0px;
  z-index: 348;
}
.Ellipse_3 {
  border-radius: 50%;
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 956px;
  top: 7246px;
  width: 8px;
  height: 7px;
  z-index: 347;
}
.Curve {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 345;
}
.Shape_174 {
  border-width: 3px;
  border-color: rgb(231, 76, 60);
  border-style: solid;
  position: absolute;
  left: 0px;
  top: 7096px;
  width: 1919px;
  height: 508px;
  z-index: 344;
}
.Shape_174_copy {
  background-color: rgb(231, 76, 60);
  opacity: 0.102;
  position: absolute;
  left: 0px;
  top: 7093px;
  width: 1928px;
  height: 652px;
  z-index: 343;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 341;
}
.Rectangle_24_copy {
  background-color: rgb(32, 32, 32);
  opacity: 0.749;
  position: absolute;
  left: 0px;
  top: 7001px;
  width: 1920px;
  height: 744px;
  z-index: 340;
}
