.Our_Clients {
  opacity: 0.988;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 428;
}
.Design_copy_5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 427;
}
.Shape_171_copy {
  border-width: 1px;
  border-color: rgb(153, 153, 153);
  border-style: solid;
  position: absolute;
  left: 977px;
  top: 8018px;
  width: 78px;
  height: 0px;
  z-index: 426;
}
.Shape_171 {
  border-width: 1px;
  border-color: rgb(153, 153, 153);
  border-style: solid;
  position: absolute;
  left: 862px;
  top: 8018px;
  width: 78px;
  height: 0px;
  z-index: 425;
}
.Ellipse_3 {
  border-radius: 50%;
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 956px;
  top: 8015px;
  width: 8px;
  height: 7px;
  z-index: 424;
}
.Logo {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 422;
}
._2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 421;
}
.Layer_49 {
  background-image: url("Layer 49.png");
  position: absolute;
  left: 670px;
  top: 8241px;
  width: 101px;
  height: 58px;
  z-index: 420;
}
.Layer_48 {
  background-image: url("Layer 48.png");
  opacity: 0.31;
  position: absolute;
  left: 870px;
  top: 8225px;
  width: 196px;
  height: 82px;
  z-index: 419;
}
.Layer_47 {
  background-image: url("Layer 47.png");
  opacity: 0.31;
  position: absolute;
  left: 378px;
  top: 8215px;
  width: 205px;
  height: 92px;
  z-index: 418;
}
.Layer_46 {
  background-image: url("Layer 46.png");
  opacity: 0.31;
  position: absolute;
  left: 1124px;
  top: 8214px;
  width: 155px;
  height: 92px;
  z-index: 417;
}
.Layer_45 {
  background-image: url("Layer 45.png");
  opacity: 0.31;
  position: absolute;
  left: 1323px;
  top: 8222px;
  width: 208px;
  height: 82px;
  z-index: 416;
}
.Rectangle_13_copy_4 {
  background-color: rgb(231, 76, 60);
  box-shadow: 0px 3px 9px 1px rgba(31, 31, 31, 0.3);
  position: absolute;
  left: 613px;
  top: 8218px;
  width: 210px;
  height: 100px;
  z-index: 415;
}
.Rectangle_13_copy_3 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 373px;
  top: 8218px;
  width: 210px;
  height: 100px;
  z-index: 414;
}
.Rectangle_13_copy_2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 1336px;
  top: 8218px;
  width: 210px;
  height: 100px;
  z-index: 413;
}
.Rectangle_13_copy {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 1095px;
  top: 8218px;
  width: 210px;
  height: 100px;
  z-index: 412;
}
.Rectangle_13 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 855px;
  top: 8218px;
  width: 210px;
  height: 100px;
  z-index: 411;
}
._1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 409;
}
.Group_3 {
  opacity: 0.302;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 407;
}
.bbb_logo_accredited {
  background-image: url("bbb-logo-accredited.png");
  position: absolute;
  left: 1121px;
  top: 8109px;
  width: 157px;
  height: 60px;
  z-index: 406;
}
._720px_US_OSHA_Logo_svg {
  background-image: url("8-assets/px-US-OSHA-Logo.svg");
  position: absolute;
  left: 401px;
  top: 8117px;
  width: 155px;
  height: 45px;
  z-index: 405;
}
.logo_dob {
  background-image: url("logo_dob.png");
  position: absolute;
  left: 899px;
  top: 8111px;
  width: 120px;
  height: 57px;
  z-index: 404;
}
.NAT_38071_1_1___EPA__LOGO___editted {
  background-image: url("NAT-38071-1_1___EPA__LOGO_-_editted.png");
  position: absolute;
  left: 1391px;
  top: 8103px;
  width: 103px;
  height: 79px;
  z-index: 403;
}
.affiliations_nyc_dca {
  background-image: url("affiliations-nyc-dca.png");
  position: absolute;
  left: 650px;
  top: 8120px;
  width: 137px;
  height: 38px;
  z-index: 402;
}
.Rectangle_13_copy_4 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 1337px;
  top: 8089px;
  width: 210px;
  height: 100px;
  z-index: 400;
}
.Rectangle_13_copy_3 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 1094px;
  top: 8089px;
  width: 210px;
  height: 100px;
  z-index: 399;
}
.Rectangle_13_copy_2 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 854px;
  top: 8089px;
  width: 210px;
  height: 100px;
  z-index: 398;
}
.Rectangle_13_copy {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 613px;
  top: 8089px;
  width: 210px;
  height: 100px;
  z-index: 397;
}
.Rectangle_13 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(31, 31, 31, 0.09);
  position: absolute;
  left: 373px;
  top: 8089px;
  width: 210px;
  height: 100px;
  z-index: 396;
}
.Title {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 393;
}
.Suspendisse_sed_eros_mollis__tincidunt_felis_eg {
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(153, 153, 153);
  line-height: 1.5;
  text-align: center;
  position: absolute;
  left: 608.728px;
  top: 7971.25px;
  width: 618px;
  height: 35px;
  z-index: 392;
}
.Great_Integrations_with_Others {
  font-size: 36px;
  font-family: "SourceSansPro";
  color: rgb(106, 106, 106);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.556;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  position: absolute;
  left: 669.937px;
  top: 7897.992px;
  z-index: 391;
}
.Background {
  background-color: rgb(244, 245, 249);
  position: absolute;
  left: 0px;
  top: 7745px;
  width: 1920px;
  height: 1965px;
  z-index: 388;
}
