.Services {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 145;
}
.Nav_Bar {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 144;
}
.Shape_173_copy_2 {
  border-width: 1px;
  border-color: rgb(153, 153, 153);
  border-style: solid;
  opacity: 0.251;
  position: absolute;
  left: 50px;
  top: 2542px;
  width: 0;
  height: 32px;
  z-index: 143;
}
.Group_4 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 142;
}
.Shape_173_copy_3 {
  border-width: 5px;
  border-color: rgb(231, 76, 60);
  border-style: solid;
  position: absolute;
  left: 50px;
  top: 2497px;
  width: 0;
  height: 24px;
  z-index: 141;
}
.Shape_173_copy {
  border-width: 5px;
  border-color: rgb(231, 76, 60);
  border-style: solid;
  position: absolute;
  left: 49px;
  top: 2497px;
  width: 0;
  height: 24px;
  z-index: 140;
}
.Shape_173 {
  border-width: 1px;
  border-color: rgb(153, 153, 153);
  border-style: solid;
  opacity: 0.251;
  position: absolute;
  left: 50px;
  top: 2452px;
  width: 0;
  height: 32px;
  z-index: 138;
}
._3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 136;
}
.PHOTOGRAPHY {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(231, 76, 60);
  line-height: 1.611;
  text-align: right;
  position: absolute;
  left: 355.536px;
  top: 2700.872px;
  width: 135px;
  height: 14px;
  z-index: 135;
}
.Lorem_Ipsum_is_simply_dummy_text_of_the_printin {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: rgb(153, 153, 153);
  line-height: 2.071;
  text-align: right;
  position: absolute;
  left: 367.63px;
  top: 2734.25px;
  width: 560px;
  height: 43px;
  z-index: 134;
}
.Down_Icon_copy_3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 133;
}
.Forma_1 {
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 1026px;
  top: 2704px;
  width: 25px;
  height: 22px;
  z-index: 132;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(244, 245, 249);
  position: absolute;
  left: 1007px;
  top: 2683px;
  width: 64px;
  height: 64px;
  z-index: 131;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.251;
  position: absolute;
  left: 1002px;
  top: 2678px;
  width: 73px;
  height: 73px;
  z-index: 130;
}
._2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 127;
}
.PRINT_DESIGN {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(231, 76, 60);
  line-height: 1.611;
  text-align: right;
  position: absolute;
  left: 357.536px;
  top: 2557.908px;
  width: 120px;
  height: 14px;
  z-index: 126;
}
.Lorem_Ipsum_is_simply_dummy_text_of_the_printin {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: rgb(153, 153, 153);
  line-height: 2.071;
  text-align: right;
  position: absolute;
  left: 370.63px;
  top: 2591.25px;
  width: 450px;
  height: 43px;
  z-index: 125;
}
.Down_Icon_copy_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 124;
}
.Forma_1 {
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 1024px;
  top: 2559px;
  width: 31px;
  height: 26px;
  z-index: 123;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(244, 245, 249);
  position: absolute;
  left: 1007px;
  top: 2540px;
  width: 64px;
  height: 64px;
  z-index: 122;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.251;
  position: absolute;
  left: 1002px;
  top: 2535px;
  width: 73px;
  height: 74px;
  z-index: 121;
}
._1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 118;
}
.WEB_DESIGN {
  font-size: 18px;
  font-family: "OpenSans";
  color: rgb(231, 76, 60);
  line-height: 1.611;
  text-align: right;
  position: absolute;
  left: 359.602px;
  top: 2413.908px;
  width: 108px;
  height: 14px;
  z-index: 117;
}
.Lorem_Ipsum_is_simply_dummy_text_of_the_printin {
  font-size: 14px;
  font-family: "SourceSansPro";
  color: rgb(153, 153, 153);
  line-height: 2.071;
  text-align: right;
  position: absolute;
  left: 367.63px;
  top: 2447.25px;
  width: 563px;
  height: 43px;
  z-index: 116;
}
.Down_Icon_copy {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 115;
}
.Forma_1 {
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 1026px;
  top: 2418px;
  width: 27px;
  height: 22px;
  z-index: 114;
}
.Ellipse_1 {
  border-radius: 50%;
  background-color: rgb(244, 245, 249);
  position: absolute;
  left: 1007px;
  top: 2396px;
  width: 64px;
  height: 64px;
  z-index: 113;
}
.Ellipse_1_copy {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.251;
  position: absolute;
  left: 1002px;
  top: 2392px;
  width: 73px;
  height: 73px;
  z-index: 112;
}
.Text {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 109;
}
.Rectangle_19_copy {
  background-color: rgb(231, 76, 60);
  position: absolute;
  left: 954px;
  top: 2280px;
  width: 6px;
  height: 36px;
  z-index: 108;
}
.OUR_SERVICES {
  font-size: 36px;
  font-family: "SourceSansPro";
  color: rgb(244, 245, 249);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 653.937px;
  top: 2275.4px;
  z-index: 107;
}
.Background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 11317px;
  z-index: 105;
}
.Background {
  background-color: rgb(32, 32, 32);
  position: absolute;
  left: 0px;
  top: 2130px;
  width: 1041px;
  height: 768px;
  z-index: 103;
}
